html, body 
{
margin: 0;
}

body
{ 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding:0px;
  box-sizing: border-box;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.container-fluid
{
	background-color:#330867;
	width:100%;
	border-bottom-style: solid;
    border-bottom-color: #3AAFA9;
    border-bottom-width: 4px;
}

.navbar
{
	padding: 0rem;
	width:100%;

}

.navbar-nav li
{
	padding-right: 20px;
}

.nav-link
{
	color: white;
	font-size:1.5rem !important;
	font-style: normal;
	font-weight: bold;
	padding-right: 10px;
}

.nav-link:hover
{
	color: #3AAFA9;
	font-size:1.5rem !important;
	font-style: normal;
	font-weight: bold;
	padding-right: 10px;
}


.navbar-brand h1
{
	color: white;
	font-weight: bold;
	margin-left: 30px;
}


li {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  margin-right: 10px;
}
li:last-child {
  margin-right: 0;
}

li:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
li:hover:after 
{
  width: 100%;
  background: white;
}


.col-sm-4{
	align-content: center;
	align-items: center;
}

.tab
{
	margin-bottom: 10px;
	margin-top: 20px;
}
.tab button {
  /*background-color: inherit;*/
  font-family: candara;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button 
{
	padding-left: 50%;
  background-color: orange;
  color: black;
}

.tab button:hover{
	background-color: #3AAFA9;
	color: black;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color:#3AAFA9 ;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}	


h1
{
	color: black;
	font-weight: bold;
	margin-left: 30px;
}
h2
{
	margin-top: 150px;
	margin-left: 150px;
	font-family: Candara;
	font-style: italic;
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	color: white;
}


.card{
	box-shadow: 5px 5px 5px black;
	border-radius: 10px;
}
.card-title{
	text-align: center;
}


.btn
{
	background-color: orange;
	align-self: center;
}

.btn:hover
{
	background-color: #3AAFA9;
	color: black;
}

.card-img-top
{
	width: 100%;
	height: 300px;
}